body {
    font-family: Arial, sans-serif;
    background-color: #f2f7ff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.section {
    width: 49%;
    /* border: 2px red solid; */
}

h1 {
    text-align: center;
    color: #0a3871;
}

textarea {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    background-color: #f2f7ff;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #0a3871;
    font-size: 18px;
    font-style: italic;
}

div {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;  
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

#result {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    textarea {
        width: 100%;
        margin-right: 10px;
    }

    #result {
        width: 45%;
        margin-top: 0;
    }
}
